listening-port=3478
fingerprint
use-auth-secret
static-auth-secret=${TURN_SHARED_SECRET}
realm=${TURN_REALM}
total-quota=100
user-quota=5000000
max-bps=5000000
lifetime=600
no-multicast-peers
no-tls
no-dtls
log-file=stdout
verbose
